<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css')}}">    
</head>    
<body>    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages%}
            <p class = "{{ category }} flash">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="POST">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" name="log" id="log" value="Log In Here">       
    </form>     
</div>    
</body>    
</html>     